@tailwind base;
@tailwind components;
@tailwind utilities;

/* Customize global styles here */
html,
body {
  min-height: 100%;
  font-family: theme('fontFamily.sans');
  background-color: theme('colors.gray.50');
}
